# =========================
# React / Node.js
# =========================

node_modules/
dist/
build/
.vite/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.eslintcache


# =========================
# Spring Boot / Maven
# =========================

target/

*.class
*.jar
*.war
*.ear

.mvn/timing.properties


# =========================
# Eclipse
# =========================

.metadata/
.classpath
.project
.settings/
.factorypath


# =========================
# IntelliJ IDEA
# =========================

.idea/
*.iml


# =========================
# Local configuration
# =========================

application-local.properties
application-local.yml
application-local.yaml


# =========================
# Logs
# =========================

*.log


# =========================
# macOS / Windows
# =========================

.DS_Store
**/.DS_Store
Thumbs.db


# =========================
# Database files
# =========================

*.db
*.sqlite
*.sqlite3